@import "nib"

// colore
azul = #006296


.breadcrumb
	color #fff
	a
		color #a7a7a7


.horizontal-tabs 
	border-radius: 5px;
	clear both
	ul.horizontal-tabs-list
		background azul
		border-radius: 5px 5px 0 0 ;
		li
			background azul
			border-radius: 5px 5px 0 0 ;
			a
				color #fff
				border-radius: 5px 5px 0 0 ;
				&:hover
					background #fff
					color #000

.not-front
	#main-content
	#primary
	#sidebar
		padding-top 0

#masthead
	padding 0 20px

.mainmenu
	padding-top 0

.searchbox
	text-align right
	padding-right 35px
	.form-text
		width 50%
		margin-top 20px

#bottom
	background url('images/backgroundfooter.png') repeat-x  0 0 transparent;
	border none

.footer-block
	color #eee

#content 
	.node-teaser
		border-bottom 1px solid #84b33c

.breadcrumb
	background-color #e4e4e4


h1.page-title
	color azul

.webform-client-form
	#edit-submitted-motivo
		width 40%
	#edit-submit
		background #88B53E
		color #fff
		border none
		padding 5px 40px
		font-weight: normal
		font-size: 2em
		&:hover
			background #006296


.region-footer-first
	ul.menu
		text-align center
		li
			display inline-block
			vertical-align top
			text-align left
			padding 0 10px
			color #fff
			height 130px
			width 150px
			a
				color azul
				font-weight: bold
				text-transform uppercase
				display inline-block
				border-bottom 1px solid azul 
				margin-bottom 10px
			ul.menu
				margin-left 0
				li
					display block
					padding 0
					border none
					height auto
					width auto
					a
						color #fff
						font-weight: normal
						text-transform none
						text-decoration none
						display inline
						border none
						margin 0
						&:hover
							color #84b33c


















