@import "nib"

// colore
azul = #006296


.breadcrumb
	color #fff
	a
		color #a7a7a7


.horizontal-tabs 
	border-radius: 5px;
	clear both
	ul.horizontal-tabs-list
		background azul
		border-radius: 5px 5px 0 0 ;
		li
			background azul
			border-radius: 5px 5px 0 0 ;
			a
				color #fff
				border-radius: 5px 5px 0 0 ;
				&:hover
					background #fff
					color #000

.not-front
	#main-content
	#primary
	#sidebar
		padding-top 0

#masthead
	padding 0 20px

.mainmenu
	padding-top 0

.searchbox
	text-align right
	padding-right 35px
	.form-text
		width 50%
		margin-top 20px

#bottom
	background url('images/backgroundfooter.png') repeat-x  0 0 transparent;
	border none

.footer-block
	color #eee

#content 
	.node-teaser
		border-bottom 1px solid #84b33c

.breadcrumb
	background-color #e4e4e4


h1.page-title
	color azul

.webform-client-form
	#edit-submitted-motivo
		width 40%
	#edit-submit
		background #88B53E
		color #fff
		border none
		padding 5px 40px
		font-weight: normal
		font-size: 2em
		&:hover
			background #006296


